<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
	xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore"
	xmlns:ldap="http://www.mulesoft.org/schema/mule/ldap"	
xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw"
xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
xmlns:https="http://www.mulesoft.org/schema/mule/https"
xmlns:tls="http://www.mulesoft.org/schema/mule/tls" 
xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" 
xmlns="http://www.mulesoft.org/schema/mule/core" 
xmlns:context="http://www.springframework.org/schema/context" 
xmlns:core="http://www.mulesoft.org/schema/mule/core" 
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
xmlns:http="http://www.mulesoft.org/schema/mule/http" 
xmlns:spring="http://www.springframework.org/schema/beans" 
xmlns:ss="http://www.springframework.org/schema/security"
xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

xsi:schemaLocation="http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd
http://www.mulesoft.org/schema/mule/ldap http://www.mulesoft.org/schema/mule/ldap/current/mule-ldap.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/current/mule-spring-security.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd">
	<!-- This is the main configuration file, you should place here all the Connectors configuration and declarations -->

    <context:property-placeholder location="mule.${env}.properties"/>

    <mule-ss:security-manager name="multiple-users-security-manager" doc:name="Spring Security Provider">
        <mule-ss:delegate-security-provider name="multiple-users-security-provider" delegate-ref="multiple-users-authentication-manager"/>
    </mule-ss:security-manager>

    <api-platform-gw:client-store id="multiple-users-client-store" doc:name="Client Store"/>

    <api-platform-gw:client-security-provider id="multiple-users-client-security-provider" doc:name="Security Provider"/>

    <oauth2-provider:config 
        name="external-oauth2-provider"
        providerName="${oauth.provider.name}" 
        resourceOwnerSecurityProvider-ref="multiple-users-security-provider" 
        clientSecurityProvider-ref="multiple-users-client-security-provider" 
        clientStore-ref="multiple-users-client-store"
        scopes="${scopes}"
        defaultScopes="${scopes}" 
        supportedGrantTypes="${supported.grant.types}" 
        authorizationEndpointPath="${oauth.authorization.endpoint.path}" 
        accessTokenEndpointPath="${oauth.access.token.endpoint.path}" 
         
        enableRefreshToken="true"
        listenerConfig-ref="oauth-manager-httpListenerConfig" doc:name="OAuth provider module" host="0.0.0.0">
    </oauth2-provider:config>

    <ldap:config name="ldap.config" authDn="${ldap.userDn}" authPassword="${ldap.password}" url="${ldap.url}" doc:name="LDAP: Configuration"/>
    <objectstore:config name="pin.store" partition="pin.store" entryTtl="${pin.store.entry.ttl}" expirationInterval="${pin.store.expiry.interval}" maxEntries="${pin.store.max.entries}" doc:name="ObjectStore: Connector"/>
    <objectstore:config name="registration.store" partition="registration.store" entryTtl="${registration.store.entry.ttl}" expirationInterval="${registration.store.expiry.interval}" maxEntries="${registration.store.max.entries}" doc:name="ObjectStore: Connector" />
    <smtp:gmail-connector name="Gmail" contentType="text/html" validateConnections="true" doc:name="Gmail" fromAddress="demo@muletest.com" />

</mule>
